 h1 {
    color: rgb(255, 255, 255);
 }
 p {
    color: rgb(255, 255, 255);
 }
 h3 {
    color: rgb(255, 255, 255);
 }

body, html {
  height: 100%;
}

.bg {
  background-image: url("assets/images/404.gif");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}