 h1 {
    color: rgb(200, 0, 63);
 }
 p {
    color: rgb(0, 62, 45);
 }
 h3 {
    color: rgb(40, 40, 40);
 }

body, html {
  height: 100%;
}

.bg {
  background-image: url("assets/images/CloudScene_1.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}